body{
  background-color: black;
  color: transparent;
}

.entorno {
	display: block;
	margin: 0 auto;
}

#fondo1 {
	opacity: 0.3;
}

#fondo2 {
	opacity: 0.3;
}

#fondo3 {
	opacity: 0.3;
}

#fondo4 {
	opacity: 0.3;
}

#bp1{
  margin-bottom: 10px;
}

#bp2{
  margin-bottom: 10px;
}

#bp3{
  margin-bottom: 10px;
}

#bp4{
  margin-bottom: 10px;
}

#puzzle1{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#puzzle2{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#puzzle3{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#puzzle4{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#mgt1{
  width: 100%;
  height: auto;
}

#mgt2{
  width: 100%;
  height: auto;
}

#mgt3{
  width: 100%;
  height: auto;
}

#mgt4{
  width: 100%;
  height: auto;
}

h4{
  color: grey;
  background-color: transparent;
}

h1{
  color: white;
  background-color: transparent;
  font-style: oblique;
}

.dropdown-item{
  color: grey;
  background-color: transparent;
}

#tablero1{
  display: none;
}

#tablero2{
  display: none;
}

#tablero3{
  display: none;
}

#tablero4{
  display: none;
}
